<%-include('../layouts/header')-%>
      
<%-include('../layouts/logednavbar')-%>

        <!-- main -->
        <div class="container-fluid py-5 mb-5 hero-header">
            <div class="container py-5">
                <div class="row g-5 align-items-center">
                    <div class="col-md-12 col-lg-7">
                        <h4 class="mb-3 text-secondary">100% Organic Foods</h4>
                        <h1 class="mb-5 display-3 text-primary">Fresh Veggies & Fruits Foods</h1>
                        <div class="position-relative mx-auto">
                            
                            <input class="form-control border-2 border-secondary w-75 py-3 px-4 rounded-pill" type="number" placeholder="Come">
                            <button onclick="location.href='/shopPage'" class="btn btn-primary border-2 border-secondary py-3 px-4 position-absolute rounded-pill text-white h-100" style="top: 0; right: 25%;">Explore the Shop.....!</button>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-5">
                        <div id="carouselId" class="carousel slide position-relative" data-bs-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active rounded">
                                    <img src="img/hero-img-1.png" class="img-fluid w-100 h-100 bg-secondary rounded" alt="First slide">
                                    <a href="#" class="btn px-4 py-2 text-white rounded">Fruits</a>
                                </div>
                                <div class="carousel-item rounded">
                                    <img src="img/hero-img-2.jpg" class="img-fluid w-100 h-100 rounded" alt="Second slide">
                                    <a href="#" class="btn px-4 py-2 text-white rounded">Vegetables</a>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <!-- Organic Products-->
        <div class="container-fluid fruite py-5">
            <div class="container py-5">
                <div class="tab-class text-center">
                    <div class="row g-4">
                    
                        <div class="col-lg-4 text-start">
                            <h1>Our Organic Products</h1>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane fade show p-0 active">
                            <div class="row g-4"id="product-card">
                                <!-- <div class="col-lg-12"style="display: flex;flex-wrap: wrap;justify-content:center">                               -->
                                    <!--inserting product-->
                        <!-- </div> -->
                            
                        </div>
                        
                    </div>
                </div>  
                <div id="pagination" class="text-center mt-4">
                    <button id="prevPage" class="btn btn-primary me-2">&lt; Prev</button>
                    <span id="currentPage">1</span>
                    <button id="nextPage" class="btn btn-primary ms-2">Next &gt;</button>
                     
                </div>    
            </div>
        </div>
        <div class="container-fluid fruite" style="display: flex; justify-content: center; align-items: center;">
            <div class="row g-4">
                <button onclick="location.href='/shopPage'" class="btn btn-primary border-2 border-secondary rounded-pill text-white " >Explore the Shop.....!</button>
            </div>
        </div>
        
        <!-- Fresh Organic Vegetables-->
        <div class="container-fluid vesitable py-5">
            <div class="container py-5">
                <div class="tab-class text-center">
                <h1 class="mb-0">Fresh Organic Products</h1>
                <div class="owl-carousel vegetable-carousel justify-content-center">

                    <% for(product of products){ %>
                   <div class="border border-primary rounded position-relative vesitable-item"><a href="/productpage?pid=<%=product._id%>" > 
                        <div class="vesitable-img">
                            <img src="/productimages/<%=product.Image[0]%>" class="img-fluid w-100 rounded-top" alt="">
                        </div>
                        <%if(product.Category.Name==='Fruit'){%>                                                 
                            <div class="text-white px-3 py-1 bg-secondary ; rounded position-absolute" style="top: 10px; left: 10px; ">
                                <%= product.Category.Name %>
                            </div>
                            <%}%>
                            <%if(product.Category.Name==='Vegetables'){%>                                                 
                                <div class="text-white px-3 py-1  ; rounded position-absolute" style="top: 10px; left: 10px; background-color: rgb(18, 177, 18);">
                                    <%= product.Category.Name %>
                                </div>
                                <%}%>
                                
                                <%if(product.Category.Name!=='Vegetables' && product.Category.Name!=='Fruit'){%>                                                 
                                    <div class="text-white px-3 py-1  ; rounded position-absolute" style="top: 10px; left: 10px; background-color: rgb(202, 58, 58);">
                                        <%= product.Category.Name %>
                                    </div>
                                    <%}%>
                        <div class="p-4 rounded-bottom">
                            <h4><%=product.Name%></h4>
                            <p class="truncate"><%=product.Pdesc%></p>
                          
                            <div class="">
                                <%if(product.Offerprice){%>
                                    <p class="text-dark fs-5 fw-bold mb-0"><s>Rs <%= product.Price %></s></p>
                                    <p class="text-dark fs-5 fw-bold mb-0">Rs <%= product.Offerprice%></p>
                                    <%}else{%>
                                        <p class="text-dark fs-5 fw-bold mb-0">Rs <%= product.Price %></p>
                                    <p class="text-dark fs-5 fw-bold mb-0"></p>
                                <%}%>
                                <%if(product.Quantity>0){%>
                                    <a onclick="addToCart('<%=product._id %>')" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                                   <%}else{%>
                                    <div class="text-danger mt-3"> Out of Stock</div>
                                    <%}%>
                            </div>
                        </div></a>
                    </div>
                    <%}%>

                </div>
            </div>
        </div>
        </div>
        <style>
            .truncate {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 2; 
              -webkit-box-orient: vertical;
            }
          </style>

  <!-- Featurs  -->
  <div class="container-fluid featurs py-5">
    <div class="container py-5">
        <div class="row g-4">
            <div class="col-md-6 col-lg-3">
                <div class="featurs-item text-center rounded bg-light p-4">
                    <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                        <i class="fas fa-car-side fa-3x text-white"></i>
                    </div>
                    <div class="featurs-content text-center">
                        <h5>Free Shipping</h5>
                        <p class="mb-0">Free on order over Rs:500</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="featurs-item text-center rounded bg-light p-4">
                    <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                        <i class="fas fa-user-shield fa-3x text-white"></i>
                    </div>
                    <div class="featurs-content text-center">
                        <h5>Security Payment</h5>
                        <p class="mb-0">100% security payment</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="featurs-item text-center rounded bg-light p-4">
                    <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                        <i class="fas fa-exchange-alt fa-3x text-white"></i>
                    </div>
                    <div class="featurs-content text-center">
                        <h5>Fast Service</h5>
                        <p class="mb-0">Reach you within 1hour</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="featurs-item text-center rounded bg-light p-4">
                    <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                        <i class="fa fa-phone-alt fa-3x text-white"></i>
                    </div>
                    <div class="featurs-content text-center">
                        <h5>24/7 Support</h5>
                        <p class="mb-0">Support every time fast</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



        <!-- Banner -->
        <div class="container-fluid banner bg-secondary my-5">
            <div class="container py-5">
                <div class="row g-4 align-items-center">
                    <div class="col-lg-6">
                        <div class="py-4">
                            <h1 class="display-3 text-white">Fresh Exotic Fruits</h1>
                            <p class="fw-normal display-3 text-dark mb-4">in Our Store</p>
                            <p class="mb-4 text-dark">The organic Apple from Kashmir</p>
                            <a href="#" class="banner-btn btn border-2 border-white rounded-pill text-dark py-3 px-5">BUY</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="position-relative">
                            <img src="img/baner-1.png" class="img-fluid w-100 rounded" alt="">
                            <div class="d-flex align-items-center justify-content-center bg-white rounded-circle position-absolute" style="width: 140px; height: 140px; top: 0; left: 0;">
                                <h1 style="font-size: 100px;">1</h1>
                                <div class="d-flex flex-column">
                                    <span class="h2 mb-0">50$</span>
                                    <span class="h4 text-muted mb-0">kg</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      


        <%-include('../layouts/footer')-%>
        <script>
const prevPageBtn = document.getElementById("prevPage");
  const nextPageBtn = document.getElementById("nextPage");
  const currentPageSpan = document.getElementById("currentPage");
  let currentPage =Number(currentPageSpan.innerHTML);
  prevPageBtn.addEventListener('click', async () => {
  
  if (currentPage > 1) {
  
    currentPage=currentPage - 1;
    
    currentPageSpan.innerHTML=currentPage
  }
goToPage(currentPage)
});
nextPageBtn.addEventListener('click', async () => {
  
  
  if (currentPage >= 1) {

    currentPage=currentPage + 1;
    currentPageSpan.innerHTML=currentPage
    
  }
  
  goToPage(currentPage)
});

const table=document.getElementById("product-card")
document.addEventListener('DOMContentLoaded',async function(){
  let wisharr=[]
try {
axios.get(`https://www.freshbay.online/productHome`).then((response)=>{

      const productdata = response.data;


      if (productdata.wish && Array.isArray(productdata.wish.items)) {
  for (let i = 0; i < productdata.wish.items.length; i++) {
    const item = productdata.wish.items[i];
    if (item.productId && item.productId._id) {
      wisharr.push(item.productId._id);
    } else {
      console.log('Missing productId or _id in item:', item);
    }
  }
} else {
  console.log('productdata.wish or productdata.wish.items is not defined or not an array');
}



// Clear existing rows
table.innerHTML = '';

if (productdata.products.length > 0) {
  
  productdata.products.forEach(product => {
   
    const row = document.createElement('div');
    row.setAttribute('class', "col-md-6 col-lg-4 col-xl-3");
    
    if(!product.Is_delete){
        if(product.Quantity>0){
            
            button=` <a href="#" onclick="addToCart('${product._id}')" class="btn border border-secondary rounded-pill px-3 text-primary">
  <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
</a>`
            
        }else{
            button=` <div class="text-danger mt-3"> Out of Stock</div>`
        };
if(wisharr.includes(product._id)){
  
  wishButton=`<a href="#" onclick="removeFromWish('${product._id}')">
  <i class="fa fa-heart fa-lg me-3  mt-2 ml-3 text-danger"></i> 
</a>`
}else{
  
  wishButton=`<a href="#" onclick="addToWishlist('${product._id}')">
  <i class="fa fa-heart fa-lg me-3  mt-2 ml-3 "></i> 
</a>`
};
if(product.Offerprice>0){
  priceplace=`<p class="text-dark fs-5 fw-bold mb-0"><s>Rs:${product.Price}</s></p>
  <p class="text-dark fs-5 fw-bold mb-0">Rs:${product.Offerprice}</p>`

}else{
  priceplace=`<p class="text-dark fs-5 fw-bold mb-0">Rs:${product.Price}</p>
  <p class="text-dark fs-5 fw-bold mb-0"></p>`
};


    row.innerHTML = `
    
     
      <div class="border border-primary rounded position-relative vesitable-item"><a href="/productpage?pid=${product._id}" > 
            
        <div class="vesitable-img">
                            <img src="/productimages/${product.Image[0]}" class="img-fluid w-100 rounded-top" alt="">
                        </div>    
                                                               
                            <div class="text-white px-3 py-1 bg-secondary ; rounded position-absolute" style="top: 10px; left: 10px; ">
                                ${product.Category.Name}
                                
                            </div>   
                            
                        <div class="p-4 rounded-bottom">
                            <h4>${product.Name}</h4>
                            <p class="truncate">${product.Pdesc}</p>
                            <p class="text-dark fs-5 fw-bold mb-0">${priceplace}</p>
                            <div class="d-flex justify-content-between">
                              
                                   ${button} <div id="${product._id}">${wishButton}</div> 
                            </div>
                        </div>
                    </div> `;
    table.appendChild(row);
    }
    
  });
} else {
  const row = document.createElement('tr');
  row.innerHTML = `<td colspan="5" class="text-center">Product not found</td>`;
  table.appendChild(row);
}
})

      
    } catch (error) {
      console.log(error.message);
    }
  })

        
//pagination search
async function goToPage(currentPage){

    let wisharr=[]
try {
axios.get(`https://www.freshbay.online/productHome?cp=${currentPage}`).then((response)=>{

      const productdata = response.data;

if(productdata.wish){
  productdata.wish.items.forEach(item=>{
    wisharr.push(item.productId._id)
   
  })
}

// Clear existing rows
table.innerHTML = '';

if (productdata.products.length > 0) {
  productdata.products.forEach(product => {
    const row = document.createElement('div');
    row.setAttribute('class',  "col-md-6 col-lg-4 col-xl-3");
    
    if(!product.Is_delete){
        if(product.Quantity>0){
            
            button=` <a href="#" onclick="addToCart('${product._id}')" class="btn border border-secondary rounded-pill px-3 text-primary">
  <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
</a>`
            
        }else{
            button=` <div class="text-danger mt-3"> Out of Stock</div>`
        };
if(wisharr.includes(product._id)){
  
  wishButton=`<a href="#" onclick="removeFromWish('${product._id}')">
  <i class="fa fa-heart fa-lg me-3  mt-2 ml-3 text-danger"></i> 
</a>`
}else{
  
  wishButton=`<a href="#" onclick="addToWishlist('${product._id}')">
  <i class="fa fa-heart fa-lg me-3  mt-2 ml-3 "></i> 
</a>`
};
if(product.Offerprice>0){
  priceplace=`<p class="text-dark fs-5 fw-bold mb-0"><s>Rs:${product.Price}</s></p>
  <p class="text-dark fs-5 fw-bold mb-0">Rs:${product.Offerprice}</p>`

}else{
  priceplace=`<p class="text-dark fs-5 fw-bold mb-0">Rs:${product.Price}</p>
  <p class="text-dark fs-5 fw-bold mb-0"></p>`
};


    row.innerHTML = `
    
     
      <div class="border border-primary rounded position-relative vesitable-item"><a href="/productpage?pid=${product._id}" > 
            
        <div class="vesitable-img">
                            <img src="/productimages/${product.Image[0]}" class="img-fluid w-100 rounded-top" alt="">
                        </div>    
                                                               
                            <div class="text-white px-3 py-1 bg-secondary ; rounded position-absolute" style="top: 10px; left: 10px; ">
                                ${product.Category.Name}
                                
                            </div>   
                            
                        <div class="p-4 rounded-bottom">
                            <h4>${product.Name}</h4>
                            <p class="truncate">${product.Pdesc}</p>
                            <p class="text-dark fs-5 fw-bold mb-0">${priceplace}</p>
                            <div class="d-flex justify-content-between">
                              
                                   ${button} <div id="${product._id}">${wishButton}</div> 
                            </div>
                        </div>
                    </div> `;
    table.appendChild(row);
    }
    
  });
} else {
  const row = document.createElement('tr');
  row.innerHTML = `<td colspan="5" class="text-center">Product not found</td>`;
  table.appendChild(row);
}
})

      
    } catch (error) {
      console.log(error.message);
    }

    
}




//functionalities

async function  addToCart(proId){
   
   const response = await axios.get(`https://www.freshbay.online/addToCart?proId=${proId}`)
   .then((response)=>{
       if(response.data.success){
            Swal.fire({
icon: 'success',
title: 'Success',
showConfirmButton: false,
timer: 1300,
text: response.data.message
});

       }else{
           Swal.fire({
icon: 'info',
title: 'Already in Cart',
showConfirmButton: false,
timer: 1300,
text: response.data.message
})
           
       }

   })
 }

// at to wish list



async function  addToWishlist(proId){

const response = await axios.get(`https://www.freshbay.online/addToWish?proId=${proId}`)
.then((response)=>{

    if(response.data.success){
         Swal.fire({
icon: 'success',
title: 'Added',
showConfirmButton: false,
timer: 1300,
text: response.data.message
});const wishdiv = document.getElementById(proId);
 if (wishdiv) {
           wishdiv.innerHTML =`<a href="#" onclick="removeFromWish('${proId}')">
<i class="fa fa-heart fa-lg me-3  mt-2 ml-3 text-danger"></i> 
</a>`   
         }

    }else{
        Swal.fire({
icon: 'info',

showConfirmButton: false,
timer: 1300,
text: response.data.message
})
        
    }

})
}

//to remove from wishlist
async function  removeFromWish(proId){

   

const response = await axios.get(`https://www.freshbay.online/removeFromWish?proId=${proId}`)
.then((response)=>{

    if(response.data.success){
         Swal.fire({
icon: 'success',
title: 'Removed',
showConfirmButton: false,
timer: 1300,
text: response.data.message
});
const wishdiv = document.getElementById(proId);
 if (wishdiv) {
           wishdiv.innerHTML =`<a href="#" onclick="addToWishlist('${proId}')">
<i class="fa fa-heart fa-lg me-3  mt-2 ml-3 "></i> 
</a>`  
         }
    }else{
        Swal.fire({
icon: 'info',
showConfirmButton: false,
timer: 1300,
text: response.data.message
})
        
    }

})
}
        </script>